* {
    /* border: solid 1px red; */
    box-sizing: border-box;
    background-color: #93BBA7;
}

body {
    margin: 0px;
    min-width: 360px;
}

/* ==========HEADER============ */
/* Navbar */
#navbar {
    padding: 1em 0em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}

a {
    color: white;
    background-color: black;
}

/* Title/Description */
#descriptionContainer {
    border: solid 2px #477000;
    padding: 2px;
    margin: 1em;
}

#siteTitle {
    display: flex;
    justify-content: center;
}

/* ==========MAIN============ */
main {
    display: flex;
    flex-direction: column;
    margin: 1em 2em;
}

#mainContainer {
    margin-bottom: 1em;
}

.containers {
    display: flex;
    flex-direction: column;
}

img {
    height: 10em;
    width: 10em;
    border: solid 4px white;
}

#selectSection {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

select {
    background-color: lightgray;
    width: 75%;
}

#contactSection {
    display: flex;
    flex-direction: column;
}

.contact-cards {
    display: flex;
    flex-direction: column;
    padding: .5em;
    margin: 1em 0em 0em;
    border: #477000  4px solid;
    background-color: lightgrey;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
    ;
}

.contacts-hidden {
    display: none;
}

#imageSection {
    display: flex;
    flex-direction: column;
}

.infoSections {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.info-containers {
    width: 13em;
}

.contact-images {
    height: 6em;
    width: 6em;
}

.contact-titles {
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-decoration: underline;
    padding-top: .5em;
}

.infoLists {
    /* display: flex;
    flex-direction: column; */
    margin-right: .5em;
    margin-top: 0px;
    padding-inline-start: 10px;
}

.close-buttons {
    background-color: lightgrey;
    ;
}

.close-buttons:hover {
    color: #477000;
    text-decoration: underline;
    font-weight: bold;
    
}

.infoSections,
.info-containers,
.infoLists,
h3,
.infoLists li,
.alertSections,
.alertContainers,
/* article, */
article p,
article h2,
article div,
/* #archived, */
#featuredSection,
#archived span 
 {
    background-color: lightgrey;
}

.eventAlerts {
    /* font-size: 1.5em; */
    border: solid 4px white;
    background-color: #FFE17C;
    padding: 10px;
    color: black;
    margin-block-start: .5em;
    margin-block-end: .5em;

}

.daysTilAlerts {
    background-color: #FFE17C;
    color: #FF6400;
    font-weight: bold;
}

.hidden {
    display: none;
}

.onDisplay {
    display: inline;
}

#contact-alert {
    border: black 4px solid;
}

ul {
    list-style: none;
}

/* Article Section*/
#articleContainer {
    margin: 0 auto;
}

.archived-images {
    display: flex;
}

.articleImages {
    height: 5em;
    width: 5em;
}

#featured-title {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

#featuredSection {
    margin-bottom: 1em;
    padding: .5em;
}

#archivedSection {
    display: flex;
    flex-direction: column;
}

#archived {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.archived-articles {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    font-size: 14px;
    max-width: 26em;
    border: solid black 2px;
    background-color: white;
} 

.archived-containers {
    padding: 0em .5em .5em;
}
.archived-containers h3 {
    margin-bottom: 0;
    margin-top: .5em;
    text-decoration: underline;
}

.archived-containers p {
    margin-top: 0;
    margin-bottom: 0;
}

.archived-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



/* ==========FOOTER============ */

footer {
    background-color: black;
    color: white;
    padding: 1em;
    border-top: solid white 3px;
}


.darkElements {
    background-color: black;
}

@media screen and (min-width: 768px) {
    #descriptionContainer {
        border: solid 2px #477000;
        padding: 2px;
        margin: 8em 2em 2em;
    }

    main {
        display: flex;
        flex-direction: row;
        margin: 1em 2em 2em;
    }

    #mainContainer {
        padding-right: 1em;
    }

    #articleContainer {
        padding-left: 1em;
        margin-left:.5em;
        border-left: solid #477000;;
    }

    #featuredSection {
        margin-bottom: 1em;
        padding: 2em;
    }

    #archived {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}