* {
    border: solid 1px red;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

/* ==========HEADER============ */
/* Navbar */
#navbar {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}

a {
    color: white;
}

/* Title/Description */
#descriptionContainer {
    padding: 2px;
    margin: 8em 2em 2em;
}

#siteTitle {
    display: flex;
    justify-content: center;
}

/* ==========MAIN============ */
main {
    display: flex;
    flex-direction: row;
    margin: 1em 2em 2em;
}

.containers {
    display: flex;
    flex-direction: column;
}

img {
    height: 10em;
    width: 10em;
}

#selectSection {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

select {
    background-color: lightgray;
}

#contactSection {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}

.contact-cards {
    display: flex;
    flex-direction: column;
    padding: .5em;
    margin: 1em 0em 0em;
    border: purple 4px solid;
}

#imageSection {
    display: flex;
    flex-direction: column;
}

#contact-infoSection {
    display: flex;
    flex-direction: row;
}

.contact-images {
    height: 7em;
    width: 7em;
}

#contact-infoList {
    margin-right: .5em;
    margin-top: 0px;
    padding-inline-start: 10px;
}

#contact-alert {
    border: black 4px solid;
}

ul {
    list-style: none;
}

/* Article Section*/



/* ==========FOOTER============ */

footer {
    background-color: black;
    color: white;
    padding: 1em;
}
