* {
    border: solid 1px red;
    box-sizing: border-box;
}

/* ==========HEADER============ */
/* Navbar */
#navbar {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: black; */
}

/* Title/Description */
#descriptionContainer {
    padding: 2px;
    margin: 8em 2em 2em;
}