* {
    border: solid 1px red;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

/* ==========HEADER============ */
/* Navbar */
#navbar {
    padding: 1em 0em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}

a {
    color: white;
}

/* Title/Description */
#descriptionContainer {
    padding: 2px;
    margin: 8em 2em 2em;
}

#siteTitle {
    display: flex;
    justify-content: center;
}

/* ==========MAIN============ */
main {
    display: flex;
    flex-direction: row;
    margin: 1em 2em 2em;
}

.containers {
    display: flex;
    flex-direction: column;
}

img {
    height: 10em;
    width: 10em;
    border: solid 4px white;
}

#selectSection {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

select {
    background-color: lightgray;
}

#contactSection {
    display: flex;
    flex-direction: column;
}

.contact-cards {
    display: flex;
    flex-direction: column;
    padding: .5em;
    margin: 1em 0em 0em;
    border: #477000  4px solid;
    background-color: lightgrey;
}

#imageSection {
    display: flex;
    flex-direction: column;
}

.infoSections {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.info-containers {
    width: 13em;
}

.contact-images {
    height: 5em;
    width: 5em;
}

.contact-titles {
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-decoration: underline;
    padding-top: .5em;
}

.infoLists {
    /* display: flex;
    flex-direction: column; */
    margin-right: .5em;
    margin-top: 0px;
    padding-inline-start: 10px;
}

.eventAlerts {
    border: solid 4px white;
    background-color: #FFE17C;

}

.hidden {
    display: none;
}

#contact-alert {
    border: black 4px solid;
}

ul {
    list-style: none;
}

/* Article Section*/



/* ==========FOOTER============ */

footer {
    background-color: black;
    color: white;
    padding: 1em;
}
